@font-face {
    font-family: 'Roboto-Regular';
    src: local('MyFont'), url(./fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: local('MyFont'), url(./fonts/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('MyFont'), url(./fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('MyFont'), url(./fonts/Roboto-Bold.woff) format('woff');
}

html{
    font-family: 'MyFont', sans-serif;
}
section{

}

#aboutMe{
    background-color: #FF8370;
    height: 700px;
}
#projects{
    height: 599px;
    background-color: #A8F0D1;
}
#skills{
    height: 700px;
    background-color: #A16F68;
}