@font-face {
    font-family: 'Roboto-Regular';
    src: local('MyFont'), url(./fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Light';
    src: local('MyFont'), url(./fonts/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('MyFont'), url(./fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('MyFont'), url(./fonts/Roboto-Bold.woff) format('woff');
}

html{
    font-family: 'MyFont', sans-serif;
}
body{
    box-sizing: border-box;
}
section{

}
#top{
    height: 100%;
}
#aboutMe {
    background: linear-gradient(#FFDCD6, transparent 1px), linear-gradient(90deg, #FFDCD6, transparent 1px);
    background-size: 10px 10px;
    background-position: center center;
    background-size: 2em 2em;
    background-color: #fff;

    height: 700px;
    margin-left: 230px;
}
#projects{
    height: 599px;
    background-color: #6C7375;
}
#skills{
    height: 700px;
    background-color: #BFB7B6;
}